.containLanding {
  width: 199.2vh;
  height: 100vh;
  background: url("https://cutewallpaper.org/21/retro-gaming-backgrounds/Retro-Game-Wallpapers-Wallpaper-Cave.jpg");
  background-size: 1280px 780px;
}
.name {
  position: absolute;
  color: rgb(221, 130, 19);
  top: -280px;
  font-size: 100px;
  font-family: "VT323", monospace;
  animation-name: fadeIn;
  animation-duration: 5s;
}

.landingcontent {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 300px;
  left: 370px;
}
.credits {
  font-family: "VT323", monospace;
  color: rgb(221, 130, 19);
  font-size: 60px;
  animation-name: fadeIn;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

.button {
  background: rgb(221, 130, 19);
  font-family: inherit;
  padding: 10px 20px;
  font-family: "VT323", monospace;
  font-weight: 900;
  font-size: 50px;
  border: 3px solid black;
  border-radius: 25px;
  box-shadow: 0.1em 0.1em;
  animation-name: moveButton;
  animation-duration: 5s;
}

.button:hover {
  transform: translate(-5px, -5px);
  box-shadow: 0.15em 0.15em;
}

.button:active {
  transform: translate(5px, 5px);
  box-shadow: 5px 5px;
}

@keyframes fadeIn {
  from {
    color: black;
    scale: (0.2);
  }
  to {
    color: rgb(221, 130, 19);
    scale: (1);
  }
}

@keyframes moveButton {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
